NEXT_PUBLIC_APP_NAME=ClubFlow Admin
NEXT_PUBLIC_CUSTOMER_APP_NAME=ClubFlow
APP_DATA_PROVIDER=postgres
APP_AUTH_PROVIDER=local
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/clubflow
DEFAULT_CLUB_ID=00000000-0000-0000-0000-000000000001
DEFAULT_CLUB_NAME=ClubFlow Demo Club
DEFAULT_TIMEZONE=Asia/Yerevan
SESSION_COOKIE_NAME=clubflow_session
ROLE_COOKIE_NAME=clubflow_admin_role
CUSTOMER_SESSION_COOKIE_NAME=clubflow_customer_session
APP_ADMIN_HOSTS=admin.localhost
APP_ALLOW_PUBLIC_REGISTRATION=true
APP_DEFAULT_REGISTRATION_ROLE=manager
APP_REGISTRATION_ROLES=customer,trainer,manager,owner
APP_SHOW_MOCK_LOGIN_HINTS=true
PGSSL=disable
